@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    /* background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); */
    background: #131212;
}
:root {
    --rotation-animation-speed: 2s;
    --rotation-animation-easing: linear;
    --stroke-animation-speed: 1.5s;
    --stroke-animation-easing: ease-in-out;
    --stroke-width: 3px;
    --stroke-start-dasharray: 1, 200;
    --stroke-end-dasharray: 89, 200;
}
.loading-container {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100%;
    background-color: #131212b4;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.loader {
    margin: 0px auto;
    width: 50px;
    height: 50px;
}

.circular-loader {
    animation: rotate var(--rotation-animation-speed)
        var(--rotation-animation-easing) infinite;
}

.loader-path {
    fill: none;
    stroke-width: var(--stroke-width);
    animation: animate-stroke var(--stroke-animation-speed)
        var(--stroke-animation-easing) infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-stroke {
    0% {
        stroke-dasharray: var(--stroke-start-dasharray);
        stroke-dashoffset: 0;
        stroke: red;
    }
    50% {
        stroke-dasharray: var(--stroke-end-dasharray);
        stroke-dashoffset: -35;
        stroke: green;
    }
    100% {
        stroke-dasharray: var(--stroke-end-dasharray);
        stroke-dashoffset: -124;
        stroke: blue;
    }
}
.container {
    max-width: 800px;
    /* background: #fff; */
    background: #212121;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 400px) {
    .container {
        padding: 20px 20px 10px 20px;
    }
}
:is(.container, .thankyou-container) .text {
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background: -webkit-linear-gradient(
        right,
        #56d8e4,
        #9f01ea,
        #56d8e4,
        #9f01ea
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container form {
    padding: 30px 0 0 0;
}
.container form .form-row {
    display: flex;
    margin: 32px 0;
}
form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}
form .form-row .textarea {
    height: 70px;
}
.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    background: #212121;
    color: #fff;
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
}
.textarea textarea {
    resize: none;
    padding-top: 10px;
}
.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    color: #747474e7;
}
.textarea label {
    width: 100%;
    bottom: 40px;
    /* background: #fff; */
    background: transparent;
}
.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
    transform: scale(1);
}
.submit-btn .input-data {
    overflow: hidden;
    height: 45px !important;
    width: 25% !important;
}
.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(
        right,
        #56d8e4,
        #9f01ea,
        #56d8e4,
        #9f01ea
    );
    transition: all 0.4s;
}
.submit-btn .input-data:hover .inner {
    left: 0;
}
.submit-btn .input-data input {
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
@media (max-width: 700px) {
    .container .text {
        font-size: 30px;
    }
    .container form {
        padding: 10px 0 0 0;
    }
    .container form .form-row {
        display: block;
    }
    form .form-row .input-data {
        margin: 35px 0 !important;
    }
    .submit-btn .input-data {
        width: 40% !important;
    }
}

.thankyou-container {
    display: none;
}
.loading-container {
    display: none;
}
